<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  
  <meta name="author" content="Nobody">

  
  
  <meta name="description" content="A brief guide to setup KaTeX">
  

  
  <link rel="icon" href="https://longervisionrobot.bitbucket.io/favicon.ico">

  
  
  <meta name="keywords" content=" Longer Vision Robot  robotics  robot ">
  

  
  
  
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/katex.min.css"
  integrity="sha384-KiWOvVjnN8qwAZbuQyWDIbfCLFhLXNETzBQjA/92pIowpC0d2O3nppDGQVgwd2nB" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/katex.min.js"
  integrity="sha384-0fdwu/T/EQMsQlrHCCHoH10pkPLlKA1jL5dFyUOvB3lfeT2540/2g6YgSi2BL14p" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/contrib/auto-render.min.js"
  integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR" crossorigin="anonymous"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    renderMathInElement(document.body, {
      delimiters: [
        { left: '$$', right: '$$', display: true },
        { left: '\\[', right: '\\]', display: true },
        { left: '$', right: '$', display: false },
        { left: '\\(', right: '\\)', display: false }
      ],
      ignoredTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code', 'option'],
      throwOnError: false
    });
  });
</script>


  

  
  <meta property="og:title" content="Math Typesetting" />
<meta property="og:description" content="A brief guide to setup KaTeX" />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://longervisionrobot.bitbucket.io/post_original/math-typesetting/" /><meta property="article:section" content="post_original" />
<meta property="article:published_time" content="2019-03-08T00:00:00+00:00" />
<meta property="article:modified_time" content="2019-03-08T00:00:00+00:00" />



  
  <link rel="canonical" href="https://longervisionrobot.bitbucket.io/post_original/math-typesetting/">

  
  
  <meta itemprop="name" content="Math Typesetting">
<meta itemprop="description" content="A brief guide to setup KaTeX"><meta itemprop="datePublished" content="2019-03-08T00:00:00+00:00" />
<meta itemprop="dateModified" content="2019-03-08T00:00:00+00:00" />
<meta itemprop="wordCount" content="114">
<meta itemprop="keywords" content="" />

  
  <link media="screen" rel="stylesheet" href='https://longervisionrobot.bitbucket.io/css/common.css'>
  <link media="screen" rel="stylesheet" href='https://longervisionrobot.bitbucket.io/css/content.css'>

  
  
  <title>Math Typesetting - Longer Vision Robot</title>
  

  
  <meta name="twitter:card" content="summary"/>
<meta name="twitter:title" content="Math Typesetting"/>
<meta name="twitter:description" content="A brief guide to setup KaTeX"/>


  
<link rel="stylesheet" href='https://longervisionrobot.bitbucket.io/css/single.css'>

</head>

<body>
  <div id="wrapper">
    <header id="header">
  <h1>
    <a href="https://longervisionrobot.bitbucket.io/">Longer Vision Robot</a>
  </h1>

  <nav>
    
    <span class="nav-bar-item">
      <a class="link" href="/">Post</a>
    </span>
    
    <span class="nav-bar-item">
      <a class="link" href="/post/">Archives</a>
    </span>
    
    <span class="nav-bar-item">
      <a class="link" href="/tags/">Tags</a>
    </span>
    
    <span class="nav-bar-item">
      <a class="link" href="/about/">About</a>
    </span>
    
  </nav>
</header>

    
<main id="main" class="post">
  
  <article class="content">
    <p>Mathematical notation in a Hugo project can be enabled by using third party JavaScript libraries.</p>
<p>In this example we will be using <a href="https://katex.org/">KaTeX</a></p>
<ul>
<li>Create a partial under <code>/layouts/partials/math.html</code></li>
<li>Within this partial reference the <a href="https://katex.org/docs/autorender.html">Auto-render Extension</a> or host these scripts locally.</li>
<li>Include the partial in your templates like so:</li>
</ul>
<div class="highlight"><pre tabindex="0" style="background-color:#f8f8f8;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-bash" data-lang="bash"><span style="display:flex;"><span><span style="color:#666">{{</span> <span style="color:#a2f;font-weight:bold">if</span> or .Params.math .Site.Params.math <span style="color:#666">}}</span>
</span></span><span style="display:flex;"><span><span style="color:#666">{{</span> partial <span style="color:#b44">&#34;math.html&#34;</span> . <span style="color:#666">}}</span>
</span></span><span style="display:flex;"><span><span style="color:#666">{{</span> end <span style="color:#666">}}</span>
</span></span></code></pre></div><ul>
<li>To enable KaTex globally set the parameter <code>math</code> to <code>true</code> in a project&rsquo;s configuration</li>
<li>To enable KaTex on a per page basis include the parameter <code>math: true</code> in content files</li>
</ul>
<p><strong>Note:</strong> Use the online reference of <a href="https://katex.org/docs/supported.html">Supported TeX Functions</a></p>

<h3 id="examples">Examples</h3>

<p>Block math:
$$
\varphi = 1+\frac{1} {1+\frac{1} {1+\frac{1} {1+\cdots} } }
$$</p>
  </article>
  
</main>

    <footer id="footer">
  <div>
    <span>© 2019</span> - <span>2023</span>
  </div>

  <div>
    <span>Powered by </span>
    <a class="link" href="https://gohugo.io/">Hugo</a>
    <span> 🍦 Theme </span>
    <a class="link" href="https://github.com/queensferryme/hugo-theme-texify">TeXify</a>
  </div>

  <div class="footnote">
    <span>Follow me on <a class=link href=https://bitbucket.org/longervisionrobot>Bitbucket</a>,
<a class=link href=https://twitter.com/Lvrobot>Twitter</a> or
<a class=link href=/index.xml>RSS</a> |
<a class=link href=https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh target=_blank rel=noopener>CC BY-NC-SA 4.0</a>
</span>
  </div>
</footer>

  </div>

  
  

  
  

  
  

</body>

</html>
